stages:
  - test

services:
  - docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2

before_script:
  - docker info
  - apk add --no-cache docker-compose

test_with_docker_compose:
  image: docker:latest
  stage: test
  script:
    - docker-compose -f docker-compose.yml up --build -d
    - docker-compose down
